<form role = "form">
  <div class = "form-group">
    <h3 class="text-secondary"><strong><label>Avatar</label></strong></h3>
    <div *ngIf="!filePath; else img">
    </div>
    <ng-template #img>
      <img src="{{filePath}}" width="100%" height="400px">
    </ng-template>
    <input type = "file" class = "form-control" placeholder = "Player Name" (change)="handleFileChooser($event.target.files)">
  </div>
  <div class = "form-group">
    <h3 class="text-secondary"><strong><label>Description</label></strong></h3>
    <textarea class = "form-control" rows = "5" placeholder = "Player Details"></textarea>
  </div>
  <br>
  <button class="btn btn-outline-primary btn-lg">Create Album</button>
</form>
