<div class="text-white " *ngIf="diaryList">
  <ngb-carousel interval="3000">
    <ng-template ngbSlide *ngFor="let diary of diaryList">
      <div class="picsum-img-wrapper">
        <a [routerLink]="'/diary/' + diary.id">
        <img src="{{diary.typeFile}},{{diary.file}}" width="100%" height="650" alt="Random first slide">
        </a>
      </div>
      <div class="carousel-caption">
        <h2  style="color: lightskyblue"><strong>{{diary.title}}</strong></h2>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<hr>



