.sidebar1 {
  background:white;

  padding: 0px;
  min-height: 100%;
}
.list {
  color:Black;
  list-style: none;
  padding-left: 0px;
}
.list::first-line {
  color: blue;
}
.list> li, h3 {
  padding: 5px 0px 10px 30px;
  color: darkslategray;
  -moz-text-size-adjust: revert;
}
.list>li:hover {
  background-color: white;
  border-left: 0px solid blue;
  color: blue;
  font-weight: bolder;
  padding-left: 35px;
}.main-content{
   text-align:center;
 }





