<div class="container-fluid">
<app-header></app-header>
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-4 sidebar1" style="height: 700px">

      <br>
      <div class="left-navigation">
        <ul class="list position-fixed">
          <h5><strong></strong></h5>
          <li  [routerLink]="'/diary'">New Entry</li>
          <li  [routerLink]="'/diary/profile/'">My Profile</li>
          <li [routerLink]="'/diary/listUserDiary/'">View All Entry</li>
          <li>Comming Soon</li>
          <li>Comming Soon</li>
        </ul>
      </div>
    </div>

    <div class="col-md-8 col-sm-6 main-content" style="background: white">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-2 col-sm-2 main-content" style="background: white">
    </div>
  </div>
  </div>


</div>

<app-footer></app-footer>
