<header>
  <div class="collapse bg-dark" id="navbarHeader" style="padding-top: 15px">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-md-4 ">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container-fluid d-flex justify-content-between">
      <div>
      <button (click)="reloadPage()"  class="btn btn-outline-secondary border-0">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
        <strong  class="text-primary">Album</strong>
      </button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button  [routerLink]="''" class="btn btn-outline-secondary border-0">
          <img src="https://firebasestorage.googleapis.com/v0/b/penzu500.appspot.com/o/album%2Ficon%2Fjournal.png?alt=media&token=1d1e186b-4c4d-4bcd-a7ec-07de0dd4967a"> &nbsp;
          <strong class="text-light">Diary</strong>
        </button>
      </div>
      <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
<!--     login-out-->
        <div *ngIf="info.token; else logIn">
          <div class="btn-group">
            <button type="button" class="btn btn-outline-secondary text-light border-1" [routerLink]="'/library/profile/'">{{info.name}}</button>
            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split border-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle</span>
            </button>
            <div class="dropdown-menu" style="background: darkgrey">
              <a class="dropdown-item" [routerLink]="'/library/'">New Entry</a>
              <a class="dropdown-item" href="#">Settings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item " (click)="logout()" >Logout</a>
            </div>
          </div>
        </div>

        <ng-template #logIn>
          <div class="btn-group ">
            <button class="btn btn-outline-secondary btn-lg border-1 text-light" type="button"  [routerLink]="'/login'" data-toggle="dropdown" >
              Login
            </button>
          </div>
        </ng-template>
      </div>
    </div>

</header>
