
  <div *ngIf="album">
  <div class = "form-group">
    <h3 class="text-secondary"><strong><label>Avatar</label></strong></h3>
    <div *ngIf="!filePath; else img">
      <img src="{{album.avatar}}" style="width: 100%; height: 400px">
    </div>
    <ng-template #img>
      <img src="{{filePath}}" width="100%" height="400px">
    </ng-template>
    <input type = "file" class = "form-control"  (change)="handleFileChooser($event.target.files)">
  </div>
  <div class = "form-group">
    <h3 class="text-secondary"><strong><label>Tag</label></strong></h3>
    <select [(ngModel)]="tagId" class="custom-select " id="inputGroupSelect02">
      <option value="" hidden selected>{{album.tag.name}}</option>
      <option *ngFor="let tag of tagList" value="{{tag.id}}">{{tag.name}}</option>
    </select>
  </div>
  <div class = "form-group">
    <h3 class="text-secondary"><strong><label>Description</label></strong></h3>
    <textarea [(ngModel)]="album.description" class = "form-control" rows = "5" placeholder = "..."></textarea>
  </div>
  </div>
  <br>


<div class="form-group">
  <h3 class="text-secondary"><strong><label>Image</label></strong></h3>
</div>

<div *ngFor='let url of urls; index as i' >
  <img  [src]="url" style="height: 300px ; width: 95%;">&nbsp;
  <button (click)="removeImage(i)" class="btn btn-outline-dark text-danger">
   X
  </button>
  <br/>
  <hr>
</div>

<input type='file' class="form-control" (change)="onSelectFile($event)" multiple>

<br/>
<br/>
<br/>
<button class="btn btn-outline-info btn-lg" (click)="uploadImageOfAlbum()">Save</button>
<br/>
<br/>

