<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">

        <div class="card-body">
          <div class="card-title mb-4">
            <div class="d-flex justify-content-start">
              <div class="image-container">
                <img src="http://placehold.it/150x150" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                <div class="middle">
                  <input type="button" class="btn btn-secondary" id="btnChangePicture" value="Change" />
                  <input type="file" style="display: none;" id="profilePicture" name="file" />
                </div>
              </div>
              <div class="userData ml-3">
                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a href="javascript:void(0);">{{info.name}}</a></h2>
                <h6 class="d-block"><a href="javascript:void(0)">1,500</a> File Uploads</h6>
                <h6 class="d-block"><a href="javascript:void(0)">300</a> Blog Posts</h6>
                <button type="button" class="btn btn-link border-0" data-toggle="modal"
                        data-target="#exampleModal" data-whatever="@mdo">Edit Profile</button>
                &nbsp;
                <button type="button" class="btn btn-link border-0" data-toggle="modal"
                        data-target="#changpass" data-whatever="@mdo">Change Password</button>
              </div>
              <div class="ml-auto">
                <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Basic Info</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="connectedServices-tab" data-toggle="tab" href="#connectedServices" role="tab" aria-controls="connectedServices" aria-selected="false">Connected Services</a>
                </li>
              </ul>
              <div class="tab-content ml-1" id="myTabContent">
                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">


                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                      <label style="font-weight:bold;">Full Name</label>
                    </div>
                    <div class="col-md-8 col-6">
                      {{info.name}}
                    </div>
                  </div>
                  <hr />

                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                      <label style="font-weight:bold;">Birth Date</label>
                    </div>
                    <div class="col-md-8 col-6">
                      March 22, 1994.
                    </div>
                  </div>
                  <hr />


                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                      <label style="font-weight:bold;">Something</label>
                    </div>
                    <div class="col-md-8 col-6">
                      Something
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                      <label style="font-weight:bold;">Something</label>
                    </div>
                    <div class="col-md-8 col-6">
                      Something
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                      <label style="font-weight:bold;">Something</label>
                    </div>
                    <div class="col-md-8 col-6">
                      Something
                    </div>
                  </div>
                  <hr />

                </div>
                <div class="tab-pane fade" id="connectedServices" role="tabpanel" aria-labelledby="ConnectedServices-tab">
                  Facebook, Google, Twitter Account that are connected to this account
                </div>
              </div>
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>
</div>


<!--Modal Update profile-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="inputName">
          <div class="form-group">
            <label  class="col-form-label">New Name </label>
            <input type="text" placeholder="{{info.name}}" formControlName="name" class="form-control" >
          </div>
          <div class="alert alert-warning" role="alert" *ngIf="inputName.get('name').invalid &&inputName.get('name').touched">
            Invalid(must longer 3 character)
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button #closeModalRef type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateUser(closeModalRef)">Update</button>
      </div>
    </div>
  </div>
</div>
<!--//-->

<!--Modal Change Password-->
<div class="modal fade" id="changpass" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Update Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="passForm">
          <div class="form-group">
            <label  class="col-form-label">Current Password </label>
            <input id="currentPassword" type="password"  class="form-control" formControlName="currentPassword" >
          </div>
          <div class="alert alert-warning" role="alert" *ngIf="passForm.get('currentPassword').invalid &&passForm.get('currentPassword').touched">
            Password invalid(must longer 6 and smaller 100 character)
          </div>
          <div class="form-group">
            <label  class="col-form-label">New Password</label>
            <input type="password"  class="form-control" formControlName="newPassword">
          </div>
          <div class="alert alert-warning" role="alert" *ngIf="passForm.get('newPassword').invalid &&passForm.get('newPassword').touched">
            Password invalid(must longer 6 and smaller 100 character)
          </div>
          <div class="form-group">
            <label  class="col-form-label">Confirm Password</label>
            <input type="password"  class="form-control" formControlName="confirmPassword">
          </div>
          <div class="alert alert-warning" role="alert" *ngIf="passForm.get('confirmPassword').invalid &&passForm.get('confirmPassword').touched">
            Password invalid(must longer 6 and smaller 100 character)gi
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button #closeModalRef1 type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="updatePassword(closeModalRef1)" >Change Password</button>
      </div>
    </div>
  </div>
</div>
<!--//-->
<app-footer></app-footer>
