<div class="text-white ">
  <ngb-carousel interval="3000">
    <ng-template ngbSlide *ngFor="let diary of diaryList">
      <div class="picsum-img-wrapper">
        <a [routerLink]="'/blog/' + diary.id">
        <img src="http://localhost:8080/uploads/{{diary.file}}" width="100%" height="600" alt="Random first slide">
        </a>
      </div>
      <div class="carousel-caption">
        <h2>{{diary.title}}</h2>
      </div>
    </ng-template>
<!--    <ng-template ngbSlide>-->
<!--      <div class="picsum-img-wrapper">-->
<!--        <img [src]="images[1]" width="1920" height="500" alt="Random second slide">-->
<!--      </div>-->
<!--      <div class="carousel-caption">-->
<!--        <h3>Second slide label</h3>-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
<!--      </div>-->
<!--    </ng-template>-->
<!--    <ng-template ngbSlide>-->
<!--      <div class="picsum-img-wrapper">-->
<!--        <img [src]="images[2]" width="2000" height="500" alt="Random third slide">-->
<!--      </div>-->
<!--      <div class="carousel-caption">-->
<!--        <h3>Third slide label</h3>-->
<!--        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
<!--      </div>-->
<!--    </ng-template>-->
  </ngb-carousel>
</div>
<hr>
<div class="row mb-2">
  <div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">{{diaryList[0].tag.name}}</strong>
        <h3 class="mb-0">{{diaryList[0].title}}</h3>
        <div class="mb-1 text-muted">{{diaryList[0].date[2]}}/{{diaryList[0].date[1]}}/{{diaryList[0].date[0]}}</div>
        <p class="card-text mb-auto">{{diaryList[0].description}}</p>
        <a href="#" class="stretched-link">Continue reading</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="http://localhost:8080/uploads/{{diaryList[0].file}}" width="200" height="250">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success">{{diaryList[1].tag.name}}</strong>
        <h3 class="mb-0">{{diaryList[1].title}}</h3>
        <div class="mb-1 text-muted">{{diaryList[1].date[2]}}/{{diaryList[1].date[1]}}/{{diaryList[1].date[0]}}</div>
        <p class="mb-auto">{{diaryList[1].description}}</p>
        <a href="#" class="stretched-link">Continue reading</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="http://localhost:8080/uploads/{{diaryList[1].file}}" width="200" height="250">
      </div>
    </div>
  </div>
</div>


