  <app-header></app-header>
  <main role="main" class="container-fluid"> <!-- /.container -->
    <div class="row">
      <div class="col-md-1 blog-main">
      </div>
      <div class="col-md-8 blog-main"><!-- /.blog-main -->

        <div class="blog-post">
          <div *ngIf="diary.file">
            <img src="{{ImgURL + diary.file}}" style="width: 100%; height: 500px">
          </div>
          <h1 class="blog-post-title"><p>{{diary.title}}</p></h1>
          <div *ngIf="diary.update == 'false'; else other">
          <p class="blog-post-meta">Date: {{diary.date[2]}}/{{diary.date[1]}}/{{diary.date[0]}} By
            <a class="text-info">{{diary.user.name}}</a>
          </p>
          </div>
          <ng-template #other>
            <p class="blog-post-meta">Date: {{diary.date[2]}}/{{diary.date[1]}}/{{diary.date[0]}} By
              <a class="text-info">{{diary.user.name}}</a> (edited)
            </p>
          </ng-template>
          <p>Tag: <a href="/#">{{diary.tag.name}}</a></p>
          <hr>
          <h3>Description</h3>
          <p>{{diary.description}}</p>
          <hr>
          <div [innerHTML]="diary.content | safeHtml"></div>
        </div><!-- /.blog-post -->
        <div class="text-right">
        <ngb-rating [(rate)]="currentRate">
          <ng-template let-fill="fill" let-index="index">
            <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
          </ng-template>
        </ngb-rating>
        <pre>Rate: <b>{{currentRate}}</b></pre>
        </div>
      </div><!-- /.blog-main -->

      <aside class="col-md-3 blog-sidebar"><!-- /.blog-sidebar -->
        <app-side-bar></app-side-bar>
      </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->

  </main><!-- /.container -->

  <app-footer></app-footer>


