  <app-header></app-header>

  <app-tag-header></app-tag-header>

  <app-featured></app-featured>


<main role="main" class="container"> <!-- /.container -->
  <div class="row">
    <div class="col-md-8 blog-main"><!-- /.blog-main -->

      <app-blog-main></app-blog-main>

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar"><!-- /.blog-sidebar -->
      <app-side-bar></app-side-bar>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</main><!-- /.container -->

<app-footer></app-footer>
