<div class="card mb-4">
  <div class="card-body">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12">
        <h2 class="pt-3 pb-4 text-center font-bold font-up deep-purple-text">Search Your Diary Here!</h2>
        <div class="input-group md-form form-sm form-2 pl-0">
          <input class="form-control my-0 py-1 pl-3 purple-border" type="text" placeholder="Search something here..." aria-label="Search">
          <span class="input-group-addon waves-effect purple lighten-2" id="basic-addon1"><a><i class="fa fa-search white-text" aria-hidden="true"></i></a></span>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
    <!--Table-->
    <table class="table table-striped">
      <!--Table head-->
      <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Date</th>
        <th>Update/Delete</th>
      </tr>
      </thead>
      <!--Table head-->
      <!--Table body-->
      <tbody>
      <tr *ngFor="let diary of listDiary, index as i">
        <th scope="row">{{i}}</th>
        <td><a [routerLink]="'/blog/' + diary.id">{{diary.title}}</a></td>
        <td>{{diary.description}}</td>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-primary">Update</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-danger border-0">Delete&nbsp;</button>
        </td>
      </tr>
      <!--Table body-->
    </table>
    <!--Table-->
  </div>
</div>
